In [90]:
import tushare as ts
import tensorflow as tf
import os
import sys
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
import datetime
sys.path.append(os.path.join(os.getcwd(), '../common'))
from config import TOKEN
from utils import timer, save, load, datetime2str, get_trade_cal

In [91]:
print(f'tensorflow: {tf.__version__}, tushare: {ts.__version__}')

tensorflow: 2.11.0, tushare: 1.2.86

In [3]:
class t:
    a = 3
    def __init__(self, t):
        self.t = t
    def print(self):
        print(f"a: {self.a}, t: {self.t}")
        
class t1(t):
    def __init__(self, t):
        super().__init__(t)
        
h = t1(4)
h.a =44
h.print()

a: 44, t: 4

[tushare](https://tushare.pro/document/2)

In [92]:
pro = ts.pro_api(TOKEN)
print(TOKEN)

64ce1845b91d06f579525db6e53d497b1c513174331f5509320f4bd5

In [98]:
trade_date_lst = get_trade_cal('20220501', '20221215')
trade_date_lst

['20220505',
 '20220506',
 '20220509',
 '20220510',
 '20220511',
 '20220512',
 '20220513',
 '20220516',
 '20220517',
 '20220518',
 '20220519',
 '20220520',
 '20220523',
 '20220524',
 '20220525',
 '20220526',
 '20220527',
 '20220530',
 '20220531',
 '20220601',
 '20220602',
 '20220606',
 '20220607',
 '20220608',
 '20220609',
 '20220610',
 '20220613',
 '20220614',
 '20220615',
 '20220616',
 '20220617',
 '20220620',
 '20220621',
 '20220622',
 '20220623',
 '20220624',
 '20220627',
 '20220628',
 '20220629',
 '20220630',
 '20220701',
 '20220704',
 '20220705',
 '20220706',
 '20220707',
 '20220708',
 '20220711',
 '20220712',
 '20220713',
 '20220714',
 '20220715',
 '20220718',
 '20220719',
 '20220720',
 '20220721',
 '20220722',
 '20220725',
 '20220726',
 '20220727',
 '20220728',
 '20220729',
 '20220801',
 '20220802',
 '20220803',
 '20220804',
 '20220805',
 '20220808',
 '20220809',
 '20220810',
 '20220811',
 '20220812',
 '20220815',
 '20220816',
 '20220817',
 '20220818',
 '20220819',
 '20220822',
 '20220823',
 '20220824',
 '20220825',
 '20220826',
 '20220829',
 '20220830',
 '20220831',
 '20220901',
 '20220902',
 '20220905',
 '20220906',
 '20220907',
 '20220908',
 '20220909',
 '20220913',
 '20220914',
 '20220915',
 '20220916',
 '20220919',
 '20220920',
 '20220921',
 '20220922',
 '20220923',
 '20220926',
 '20220927',
 '20220928',
 '20220929',
 '20220930',
 '20221010',
 '20221011',
 '20221012',
 '20221013',
 '20221014',
 '20221017',
 '20221018',
 '20221019',
 '20221020',
 '20221021',
 '20221024',
 '20221025',
 '20221026',
 '20221027',
 '20221028',
 '20221031',
 '20221101',
 '20221102',
 '20221103',
 '20221104',
 '20221107',
 '20221108',
 '20221109',
 '20221110',
 '20221111',
 '20221114',
 '20221115',
 '20221116',
 '20221117',
 '20221118',
 '20221121',
 '20221122',
 '20221123',
 '20221124',
 '20221125',
 '20221128',
 '20221129',
 '20221130',
 '20221201',
 '20221202',
 '20221205',
 '20221206',
 '20221207',
 '20221208',
 '20221209',
 '20221212',
 '20221213',
 '20221214',
 '20221215']

In [27]:

df = pro.index_basic(market='')

In [29]:
df

,ts_code,name,market,publisher,category,base_date,base_point,list_date
0,000001.CZC,农期指数,OTH,郑州商品交易所,商品指数,None,1000.0,None
1,000001.SH,上证指数,SSE,中证公司,综合指数,19901219,100.0,19910715
2,000002.CZC,农期谷物,OTH,郑州商品交易所,商品指数,None,1000.0,None
3,000002.SH,上证A指,SSE,中证公司,综合指数,19901219,100.0,19920221
4,000003.CZC,农期软商,OTH,郑州商品交易所,商品指数,None,1000.0,None
...,...,...,...,...,...,...,...,...
7995,h20811.CSI,中国1000材料(全)USD,CSI,中证公司,行业指数,20061229,1000.0,20160510
7996,h20812.CSI,中国1000工业(全)USD,CSI,中证公司,行业指数,20061229,1000.0,20160510
7997,h20813.CSI,中国1000可选(全)USD,CSI,中证公司,行业指数,20061229,1000.0,20160510
7998,h20814.CSI,中国1000消费(全)USD,CSI,中证公司,行业指数,20061229,1000.0,20160510
7999,h20815.CSI,中国1000医药(全)USD,CSI,中证公司,行业指数,20061229,1000.0,20160510

In [6]:
date='20221209'

In [9]:
data = pro.stock_basic(exchange='', 
                list_status='L', fields='ts_code,symbol,name,area,industry,list_date')

In [11]:
data.groupby('ts_code').size()

ts_code
000001.SZ    1
000002.SZ    1
000004.SZ    1
000005.SZ    1
000006.SZ    1
            ..
873122.BJ    1
873169.BJ    1
873223.BJ    1
873339.BJ    1
873527.BJ    1
Length: 5024, dtype: int64

In [12]:
data.shape

(5024, 6)

In [31]:
data.head(2)

     ts_code  symbol  name area industry list_date
0  000001.SZ  000001  平安银行   深圳       银行  19910403
1  000002.SZ  000002   万科A   深圳     全国地产  19910129

In [13]:
df_price = pro.daily(trade_date=date)
df_money = pro.moneyflow(trade_date=date)
df = pd.merge(df_price, df_money, how = 'outer', 
              on = ['ts_code', 'trade_date'])

In [32]:
dd = pd.merge(data[['ts_code', 'area', 'industry', 'list_date']],
        df, on = 'ts_code', how = 'right')

In [43]:
dd.head(30)

,ts_code,area,industry,list_date,trade_date,open,high,low,close,pre_close,...,buy_lg_vol,buy_lg_amount,sell_lg_vol,sell_lg_amount,buy_elg_vol,buy_elg_amount,sell_elg_vol,sell_elg_amount,net_mf_vol,net_mf_amount
0,000001.SZ,深圳,银行,19910403,20221209,13.40,13.75,13.35,13.70,13.36,...,482569.0,65650.48,421894.0,57377.80,425819.0,58059.87,280653.0,38131.58,231350.0,31802.80
1,000002.SZ,深圳,全国地产,19910129,20221209,19.37,20.63,19.26,20.46,19.38,...,761192.0,152991.66,688741.0,138525.42,671004.0,135294.54,457293.0,91894.89,428199.0,86910.51
2,000004.SZ,深圳,软件服务,19910114,20221209,10.05,10.14,9.95,10.08,10.07,...,1697.0,170.62,2204.0,221.15,0.0,0.00,0.0,0.00,-4050.0,-404.99
3,000005.SZ,深圳,环境保护,19901210,20221209,1.98,1.99,1.91,1.92,2.00,...,38764.0,750.82,64588.0,1250.30,0.0,0.00,0.0,0.00,-72571.0,-1403.86
4,000006.SZ,深圳,区域地产,19920427,20221209,5.26,5.55,5.26,5.45,5.29,...,481836.0,26114.34,445331.0,24127.26,183037.0,9919.56,149809.0,8097.40,241832.0,13200.72
5,000007.SZ,深圳,其他商业,19920413,20221209,8.28,8.38,8.24,8.26,8.31,...,22639.0,1879.54,19472.0,1614.48,1500.0,123.90,2200.0,182.60,4663.0,391.37
6,000008.SZ,北京,运输设备,19920507,20221209,2.51,2.54,2.48,2.50,2.52,...,52326.0,1309.03,73205.0,1828.70,8982.0,224.49,4800.0,120.00,-49669.0,-1234.92
7,000009.SZ,深圳,电气设备,19910625,20221209,13.57,13.67,13.33,13.33,13.70,...,191183.0,25628.31,167246.0,22421.51,59633.0,7989.13,128095.0,17153.25,-161532.0,-21611.51
8,000010.SZ,深圳,建筑工程,19951027,20221209,3.70,3.81,3.66,3.78,3.69,...,43741.0,1645.17,37102.0,1393.09,7103.0,266.07,3888.0,147.36,31967.0,1209.99
9,000011.SZ,深圳,区域地产,19920330,20221209,12.60,12.93,12.60,12.93,11.75,...,25369.0,3258.22,40155.0,5177.90,129675.0,16749.11,27812.0,3586.35,-138122.0,-17888.24
10,000012.SZ,深圳,玻璃,19920228,20221209,7.19,7.37,7.16,7.33,7.16,...,113989.0,8300.36,121338.0,8835.28,72422.0,5296.58,50785.0,3702.16,99070.0,7232.01
11,000014.SZ,深圳,全国地产,19920602,20221209,9.99,10.44,9.99,10.29,9.98,...,73741.0,7558.88,70713.0,7235.11,26865.0,2753.32,24886.0,2542.37,17029.0,1781.93
12,000016.SZ,深圳,家用电器,19920327,20221209,5.03,5.09,5.01,5.07,5.02,...,29361.0,1482.83,31215.0,1575.87,4264.0,216.45,9939.0,502.91,14745.0,750.92
13,000017.SZ,深圳,服饰,19920331,20221209,5.58,5.73,5.00,5.03,5.54,...,115214.0,6035.57,143266.0,7523.06,6308.0,326.40,22723.0,1190.60,-182687.0,-9473.40
14,000019.SZ,深圳,农业综合,19921012,20221209,7.90,7.90,7.69,7.79,7.83,...,8711.0,677.96,15457.0,1199.85,1551.0,120.42,0.0,0.00,-17065.0,-1322.92
15,000020.SZ,深圳,元器件,19920428,20221209,10.24,10.28,9.89,9.93,10.24,...,4949.0,495.99,5740.0,573.75,0.0,0.00,0.0,0.00,-13628.0,-1360.74
16,000021.SZ,深圳,IT设备,19940202,20221209,11.52,11.57,11.23,11.29,11.52,...,66259.0,7514.85,98391.0,11183.94,1794.0,203.07,16995.0,1921.93,-46776.0,-5307.25
17,000023.SZ,深圳,水泥,19930429,20221209,14.35,14.87,14.35,14.50,14.34,...,4124.0,599.18,6588.0,960.01,792.0,115.63,0.0,0.00,-610.0,-82.66
18,000025.SZ,深圳,汽车服务,19930621,20221209,20.16,20.24,19.64,19.71,20.29,...,23906.0,4732.41,28236.0,5586.35,1882.0,371.69,3350.0,665.98,-28434.0,-5628.89
19,000026.SZ,深圳,服饰,19930603,20221209,10.99,10.99,10.59,10.73,10.94,...,8270.0,886.68,12938.0,1380.99,0.0,0.00,595.0,63.17,-17782.0,-1901.09
20,000027.SZ,深圳,火力发电,19930903,20221209,6.08,6.12,6.05,6.08,6.07,...,24152.0,1467.61,27773.0,1686.47,5800.0,351.48,3592.0,218.04,-34379.0,-2081.86
21,000028.SZ,深圳,医药商业,19930809,20221209,37.51,39.95,37.51,38.68,38.52,...,26681.0,10462.00,23575.0,9250.03,6695.0,2630.52,11259.0,4399.19,-725.0,-247.06
22,000029.SZ,深圳,区域地产,19930915,20221209,11.85,12.73,11.84,12.45,11.87,...,59409.0,7339.96,79747.0,9862.07,24664.0,3038.89,10275.0,1263.87,31980.0,3973.66
23,000030.SZ,吉林,汽车配件,19930929,20221209,4.78,4.79,4.73,4.75,4.79,...,4045.0,192.37,0.0,0.00,0.0,0.00,0.0,0.00,-3180.0,-149.07
24,000031.SZ,深圳,全国地产,19931008,20221209,4.55,4.82,4.39,4.68,4.38,...,465987.0,21691.66,525591.0,24523.22,341446.0,16365.91,242314.0,11434.28,-156746.0,-7666.38
25,000032.SZ,深圳,建筑工程,19931028,20221209,24.40,24.95,23.93,24.33,24.35,...,96840.0,23670.08,117744.0,28790.93,81440.0,20013.51,33185.0,8120.77,7718.0,2028.43
26,000034.SZ,深圳,软件服务,19940509,20221209,22.24,22.38,21.48,21.75,22.38,...,31882.0,6964.71,32368.0,7069.91,4710.0,1022.50,11057.0,2415.48,-15784.0,-3411.72
27,000035.SZ,江苏,环境保护,19940408,20221209,5.68,5.90,5.59,5.85,5.71,...,198965.0,11459.16,119687.0,6908.56,81312.0,4737.29,68159.0,3937.81,40062.0,2400.96
28,000036.SZ,深圳,全国地产,19940617,20221209,4.38,4.57,4.38,4.50,4.40,...,63500.0,2838.29,43301.0,1936.51,5580.0,251.84,0.0,0.00,33941.0,1536.49
29,000037.SZ,深圳,火力发电,19940701,20221209,8.39,9.14,8.31,9.14,8.31,...,86401.0,7759.64,79171.0,7129.72,99388.0,9049.75,6984.0,636.47,-56937.0,-5358.45

In [55]:
df = get_price_money(date)

=== Begin Read 20221209 data ===
股票OHLS数据:  (5016, 11)
股票基本面数据:  (5016, 17)
股票资金流向:  (4877, 20)
=== End Read 20221209 data ===
股票最终数据:  (5016, 44)

In [58]:
df.head(2)

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount,turnover_rate,turnover_rate_f,volume_ratio,pe,pe_ttm,pb,ps,ps_ttm,dv_ratio,dv_ttm,total_share,float_share,free_share,total_mv,circ_mv,buy_sm_vol,buy_sm_amount,sell_sm_vol,sell_sm_amount,buy_md_vol,buy_md_amount,sell_md_vol,sell_md_amount,buy_lg_vol,buy_lg_amount,sell_lg_vol,sell_lg_amount,buy_elg_vol,buy_elg_amount,sell_elg_vol,sell_elg_amount,net_mf_vol,net_mf_amount
0,000001.SZ,20221209,13.40,13.75,13.35,13.70,13.36,0.34,2.5449,1615831.92,2197501.649,0.8327,1.8787,1.09,7.3167,6.0616,0.748,1.5696,1.4733,1.3139,1.6642,1.940592e+06,1940554.695,860090.6226,2.658611e+07,2.658560e+07,232453.0,31524.28,438972.0,59703.42,474991.0,64515.54,474313.0,64537.37,482569.0,65650.48,421894.0,57377.80,425819.0,58059.87,280653.0,38131.58,231350.0,31802.80
1,000002.SZ,20221209,19.37,20.63,19.26,20.46,19.38,1.08,5.5728,2177339.59,4380717.630,2.2407,3.3629,1.40,10.5649,10.3980,0.987,0.5255,0.4585,6.1095,4.7351,1.163071e+06,971736.074,647454.9949,2.379643e+07,1.988172e+07,258724.0,51944.34,433293.0,87250.82,486419.0,97841.21,598014.0,120400.63,761192.0,152991.66,688741.0,138525.42,671004.0,135294.54,457293.0,91894.89,428199.0,86910.51

In [52]:
df1 = pro.daily_basic(trade_date=date).drop('close', axis = 1)

In [81]:
df = pro.cyq_perf(trade_date=date)

In [82]:
df.shape

(5000, 11)

In [86]:
pro.cyq_perf(trade_date=date).shape

(5000, 11)

In [84]:
df.head(6)

,ts_code,trade_date,his_low,his_high,cost_5pct,cost_15pct,cost_50pct,cost_85pct,cost_95pct,weight_avg,winner_rate
0,000066.SZ,20221209,0.99,23.99,9.73,10.88,12.03,12.72,13.18,11.83,19.95
1,000026.SZ,20221209,0.87,23.64,8.92,9.61,10.53,11.22,11.68,10.52,53.96
2,000409.SZ,20221209,0.94,22.72,6.44,6.66,6.88,7.32,7.32,6.96,32.15
3,000548.SZ,20221209,0.54,20.94,4.14,4.34,4.74,4.94,4.94,4.74,72.32
4,000429.SZ,20221209,1.25,8.67,5.38,6.01,6.99,7.48,7.76,6.78,91.34
5,000568.SZ,20221209,0.17,324.17,77.93,162.17,188.09,226.97,256.13,188.15,72.43

In [28]:
pro.moneyflow(ts_code='430047.BJ')

Empty DataFrame
Columns: [ts_code, trade_date, buy_sm_vol, buy_sm_amount, sell_sm_vol, sell_sm_amount, buy_md_vol, buy_md_amount, sell_md_vol, sell_md_amount, buy_lg_vol, buy_lg_amount, sell_lg_vol, sell_lg_amount, buy_elg_vol, buy_elg_amount, sell_elg_vol, sell_elg_amount, net_mf_vol, net_mf_amount]
Index: []

In [94]:
def get_price_money(date):
    ### 注意, daily 返回 SZ SH BJ的股票 / moneyflow 只返回 SZ SH
    print(f"=== Begin Read {date} data ===")
    # 日线行情 - 股票OHLS数据
    df_price = pro.daily(trade_date=date)
    print("股票OHLS数据: ", df_price.shape)
    
    # 日线行情 - 股票涨跌停数据
    df_limit = pro.stk_limit(trade_date=date)
    print("股票涨跌停数据: ", df_limit.shape)
    
    # 日线行情 - 股票基本面数据
    df_basic = pro.daily_basic(trade_date=date).drop('close', axis = 1)
    print("股票基本面数据: ", df_basic.shape)
    
    # 日线行情 - 股票资金流向
    df_money = pro.moneyflow(trade_date=date)
    print("股票资金流向: ", df_money.shape)
    
    df = pd.merge(df_price, df_limit, how = 'outer', on = ['ts_code', 'trade_date'])
    df = pd.merge(df, df_basic, how = 'outer', on = ['ts_code', 'trade_date'])
    df = pd.merge(df, df_money, how = 'outer', on = ['ts_code', 'trade_date'])

    print(f"=== End Read {date} data ===")
    
    print("股票最终数据: ", df.shape)
    return df

def analysis(data):
    pass

In [89]:
df_trade_money.head(2)

,ts_code,area,industry,list_date,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount,up_limit,down_limit,turnover_rate,turnover_rate_f,volume_ratio,pe,pe_ttm,pb,ps,ps_ttm,dv_ratio,dv_ttm,total_share,float_share,free_share,total_mv,circ_mv,buy_sm_vol,buy_sm_amount,sell_sm_vol,sell_sm_amount,buy_md_vol,buy_md_amount,sell_md_vol,sell_md_amount,buy_lg_vol,buy_lg_amount,sell_lg_vol,sell_lg_amount,buy_elg_vol,buy_elg_amount,sell_elg_vol,sell_elg_amount,net_mf_vol,net_mf_amount
0,000001.SZ,深圳,银行,19910403,20221209,13.40,13.75,13.35,13.70,13.36,0.34,2.5449,1615831.92,2197501.649,14.70,12.02,0.8327,1.8787,1.09,7.3167,6.0616,0.748,1.5696,1.4733,1.3139,1.6642,1.940592e+06,1940554.695,860090.6226,2.658611e+07,2.658560e+07,232453.0,31524.28,438972.0,59703.42,474991.0,64515.54,474313.0,64537.37,482569.0,65650.48,421894.0,57377.80,425819.0,58059.87,280653.0,38131.58,231350.0,31802.80
1,000002.SZ,深圳,全国地产,19910129,20221209,19.37,20.63,19.26,20.46,19.38,1.08,5.5728,2177339.59,4380717.630,21.32,17.44,2.2407,3.3629,1.40,10.5649,10.3980,0.987,0.5255,0.4585,6.1095,4.7351,1.163071e+06,971736.074,647454.9949,2.379643e+07,1.988172e+07,258724.0,51944.34,433293.0,87250.82,486419.0,97841.21,598014.0,120400.63,761192.0,152991.66,688741.0,138525.42,671004.0,135294.54,457293.0,91894.89,428199.0,86910.51

In [99]:
df_static = pro.stock_basic(exchange='', 
                list_status='L', fields='ts_code,symbol,name,area,industry,list_date')
for _d in trade_date_lst:
    df_trade_money = get_price_money(_d)
    df_trade_money = pd.merge(df_static[['ts_code', 'area', 'industry', 'list_date']],
        df_trade_money, on = 'ts_code', how = 'right')
    
    save(df_trade_money, os.path.join(os.getcwd(), f'../DataStore/trade_money/df_trade_money{_d}.pkl'))

=== Begin Read 20220505 data ===
股票OHLS数据:  (4713, 11)
股票涨跌停数据:  (6017, 4)
股票基本面数据:  (4713, 17)
股票资金流向:  (4625, 20)
=== End Read 20220505 data ===
股票最终数据:  (6017, 46)
=== Begin Read 20220506 data ===
股票OHLS数据:  (4748, 11)
股票涨跌停数据:  (6018, 4)
股票基本面数据:  (4748, 17)
股票资金流向:  (4658, 20)
=== End Read 20220506 data ===
股票最终数据:  (6018, 46)
=== Begin Read 20220509 data ===
股票OHLS数据:  (4747, 11)
股票涨跌停数据:  (6018, 4)
股票基本面数据:  (4747, 17)
股票资金流向:  (4659, 20)
=== End Read 20220509 data ===
股票最终数据:  (6018, 46)
=== Begin Read 20220510 data ===
股票OHLS数据:  (4750, 11)
股票涨跌停数据:  (6018, 4)
股票基本面数据:  (4750, 17)
股票资金流向:  (4662, 20)
=== End Read 20220510 data ===
股票最终数据:  (6018, 46)
=== Begin Read 20220511 data ===
股票OHLS数据:  (4750, 11)
股票涨跌停数据:  (6019, 4)
股票基本面数据:  (4750, 17)
股票资金流向:  (4662, 20)
=== End Read 20220511 data ===
股票最终数据:  (6019, 46)
=== Begin Read 20220512 data ===
股票OHLS数据:  (4751, 11)
股票涨跌停数据:  (6022, 4)
股票基本面数据:  (4751, 17)
股票资金流向:  (4663, 20)
=== End Read 20220512 data ===
股票最终数据:  (6022, 46)
=== Begin Read 20220513 data ===
股票OHLS数据:  (4754, 11)
股票涨跌停数据:  (6023, 4)
股票基本面数据:  (4754, 17)
股票资金流向:  (4665, 20)
=== End Read 20220513 data ===
股票最终数据:  (6023, 46)
=== Begin Read 20220516 data ===
股票OHLS数据:  (4753, 11)
股票涨跌停数据:  (6026, 4)
股票基本面数据:  (4753, 17)
股票资金流向:  (4664, 20)
=== End Read 20220516 data ===
股票最终数据:  (6026, 46)
=== Begin Read 20220517 data ===
股票OHLS数据:  (4755, 11)
股票涨跌停数据:  (6027, 4)
股票基本面数据:  (4755, 17)
股票资金流向:  (4666, 20)
=== End Read 20220517 data ===
股票最终数据:  (6027, 46)
=== Begin Read 20220518 data ===
股票OHLS数据:  (4755, 11)
股票涨跌停数据:  (6029, 4)
股票基本面数据:  (4755, 17)
股票资金流向:  (4665, 20)
=== End Read 20220518 data ===
股票最终数据:  (6029, 46)
=== Begin Read 20220519 data ===
股票OHLS数据:  (4753, 11)
股票涨跌停数据:  (6029, 4)
股票基本面数据:  (4753, 17)
股票资金流向:  (4663, 20)
=== End Read 20220519 data ===
股票最终数据:  (6029, 46)
=== Begin Read 20220520 data ===
股票OHLS数据:  (4758, 11)
股票涨跌停数据:  (6033, 4)
股票基本面数据:  (4758, 17)
股票资金流向:  (4668, 20)
=== End Read 20220520 data ===
股票最终数据:  (6033, 46)
=== Begin Read 20220523 data ===
股票OHLS数据:  (4757, 11)
股票涨跌停数据:  (6032, 4)
股票基本面数据:  (4757, 17)
股票资金流向:  (4667, 20)
=== End Read 20220523 data ===
股票最终数据:  (6032, 46)
=== Begin Read 20220524 data ===
股票OHLS数据:  (4759, 11)
股票涨跌停数据:  (6032, 4)
股票基本面数据:  (4759, 17)
股票资金流向:  (4668, 20)
=== End Read 20220524 data ===
股票最终数据:  (6032, 46)
=== Begin Read 20220525 data ===
股票OHLS数据:  (4763, 11)
股票涨跌停数据:  (6033, 4)
股票基本面数据:  (4763, 17)
股票资金流向:  (4672, 20)
=== End Read 20220525 data ===
股票最终数据:  (6033, 46)
=== Begin Read 20220526 data ===
股票OHLS数据:  (4769, 11)
股票涨跌停数据:  (6035, 4)
股票基本面数据:  (4769, 17)
股票资金流向:  (4678, 20)
=== End Read 20220526 data ===
股票最终数据:  (6035, 46)
=== Begin Read 20220527 data ===
股票OHLS数据:  (4769, 11)
股票涨跌停数据:  (6039, 4)
股票基本面数据:  (4769, 17)
股票资金流向:  (4677, 20)
=== End Read 20220527 data ===
股票最终数据:  (6039, 46)
=== Begin Read 20220530 data ===
股票OHLS数据:  (4772, 11)
股票涨跌停数据:  (6039, 4)
股票基本面数据:  (4772, 17)
股票资金流向:  (4680, 20)
=== End Read 20220530 data ===
股票最终数据:  (6039, 46)
=== Begin Read 20220531 data ===
股票OHLS数据:  (4778, 11)
股票涨跌停数据:  (6039, 4)
股票基本面数据:  (4778, 17)
股票资金流向:  (4686, 20)
=== End Read 20220531 data ===
股票最终数据:  (6039, 46)
=== Begin Read 20220601 data ===
股票OHLS数据:  (4779, 11)
股票涨跌停数据:  (6039, 4)
股票基本面数据:  (4779, 17)
股票资金流向:  (4687, 20)
=== End Read 20220601 data ===
股票最终数据:  (6039, 46)
=== Begin Read 20220602 data ===
股票OHLS数据:  (4780, 11)
股票涨跌停数据:  (6041, 4)
股票基本面数据:  (4780, 17)
股票资金流向:  (4687, 20)
=== End Read 20220602 data ===
股票最终数据:  (6041, 46)
=== Begin Read 20220606 data ===
股票OHLS数据:  (4794, 11)
股票涨跌停数据:  (6046, 4)
股票基本面数据:  (4794, 17)
股票资金流向:  (4701, 20)
=== End Read 20220606 data ===
股票最终数据:  (6046, 46)
=== Begin Read 20220607 data ===
股票OHLS数据:  (4796, 11)
股票涨跌停数据:  (6046, 4)
股票基本面数据:  (4796, 17)
股票资金流向:  (4703, 20)
=== End Read 20220607 data ===
股票最终数据:  (6046, 46)
=== Begin Read 20220608 data ===
股票OHLS数据:  (4800, 11)
股票涨跌停数据:  (6051, 4)
股票基本面数据:  (4800, 17)
股票资金流向:  (4707, 20)
=== End Read 20220608 data ===
股票最终数据:  (6051, 46)
=== Begin Read 20220609 data ===
股票OHLS数据:  (4800, 11)
股票涨跌停数据:  (6052, 4)
股票基本面数据:  (4800, 17)
股票资金流向:  (4706, 20)
=== End Read 20220609 data ===
股票最终数据:  (6052, 46)
=== Begin Read 20220610 data ===
股票OHLS数据:  (4806, 11)
股票涨跌停数据:  (6053, 4)
股票基本面数据:  (4806, 17)
股票资金流向:  (4711, 20)
=== End Read 20220610 data ===
股票最终数据:  (6053, 46)
=== Begin Read 20220613 data ===
股票OHLS数据:  (4810, 11)
股票涨跌停数据:  (6054, 4)
股票基本面数据:  (4810, 17)
股票资金流向:  (4715, 20)
=== End Read 20220613 data ===
股票最终数据:  (6054, 46)
=== Begin Read 20220614 data ===
股票OHLS数据:  (4809, 11)
股票涨跌停数据:  (6055, 4)
股票基本面数据:  (4809, 17)
股票资金流向:  (4713, 20)
=== End Read 20220614 data ===
股票最终数据:  (6055, 46)
=== Begin Read 20220615 data ===
股票OHLS数据:  (4811, 11)
股票涨跌停数据:  (6051, 4)
股票基本面数据:  (4811, 17)
股票资金流向:  (4715, 20)
=== End Read 20220615 data ===
股票最终数据:  (6051, 46)
=== Begin Read 20220616 data ===
股票OHLS数据:  (4807, 11)
股票涨跌停数据:  (6051, 4)
股票基本面数据:  (4807, 17)
股票资金流向:  (4711, 20)
=== End Read 20220616 data ===
股票最终数据:  (6051, 46)
=== Begin Read 20220617 data ===
股票OHLS数据:  (4805, 11)
股票涨跌停数据:  (6052, 4)
股票基本面数据:  (4805, 17)
股票资金流向:  (4708, 20)
=== End Read 20220617 data ===
股票最终数据:  (6052, 46)
=== Begin Read 20220620 data ===
股票OHLS数据:  (4808, 11)
股票涨跌停数据:  (6053, 4)
股票基本面数据:  (4808, 17)
股票资金流向:  (4710, 20)
=== End Read 20220620 data ===
股票最终数据:  (6053, 46)
=== Begin Read 20220621 data ===
股票OHLS数据:  (4810, 11)
股票涨跌停数据:  (6050, 4)
股票基本面数据:  (4810, 17)
股票资金流向:  (4712, 20)
=== End Read 20220621 data ===
股票最终数据:  (6050, 46)
=== Begin Read 20220622 data ===
股票OHLS数据:  (4806, 11)
股票涨跌停数据:  (6048, 4)
股票基本面数据:  (4806, 17)
股票资金流向:  (4708, 20)
=== End Read 20220622 data ===
股票最终数据:  (6048, 46)
=== Begin Read 20220623 data ===
股票OHLS数据:  (4809, 11)
股票涨跌停数据:  (6047, 4)
股票基本面数据:  (4809, 17)
股票资金流向:  (4711, 20)
=== End Read 20220623 data ===
股票最终数据:  (6047, 46)
=== Begin Read 20220624 data ===
股票OHLS数据:  (4808, 11)
股票涨跌停数据:  (6050, 4)
股票基本面数据:  (4808, 17)
股票资金流向:  (4709, 20)
=== End Read 20220624 data ===
股票最终数据:  (6050, 46)
=== Begin Read 20220627 data ===
股票OHLS数据:  (4807, 11)
股票涨跌停数据:  (6048, 4)
股票基本面数据:  (4807, 17)
股票资金流向:  (4708, 20)
=== End Read 20220627 data ===
股票最终数据:  (6048, 46)
=== Begin Read 20220628 data ===
股票OHLS数据:  (4805, 11)
股票涨跌停数据:  (6046, 4)
股票基本面数据:  (4805, 17)
股票资金流向:  (4706, 20)
=== End Read 20220628 data ===
股票最终数据:  (6046, 46)
=== Begin Read 20220629 data ===
股票OHLS数据:  (4804, 11)
股票涨跌停数据:  (6045, 4)
股票基本面数据:  (4804, 17)
股票资金流向:  (4705, 20)
=== End Read 20220629 data ===
股票最终数据:  (6045, 46)
=== Begin Read 20220630 data ===
股票OHLS数据:  (4805, 11)
股票涨跌停数据:  (6043, 4)
股票基本面数据:  (4805, 17)
股票资金流向:  (4706, 20)
=== End Read 20220630 data ===
股票最终数据:  (6043, 46)
=== Begin Read 20220701 data ===
股票OHLS数据:  (4810, 11)
股票涨跌停数据:  (6045, 4)
股票基本面数据:  (4810, 17)
股票资金流向:  (4711, 20)
=== End Read 20220701 data ===
股票最终数据:  (6045, 46)
=== Begin Read 20220704 data ===
股票OHLS数据:  (4804, 11)
股票涨跌停数据:  (6042, 4)
股票基本面数据:  (4804, 17)
股票资金流向:  (4705, 20)
=== End Read 20220704 data ===
股票最终数据:  (6042, 46)
=== Begin Read 20220705 data ===
股票OHLS数据:  (4809, 11)
股票涨跌停数据:  (6044, 4)
股票基本面数据:  (4809, 17)
股票资金流向:  (4709, 20)
=== End Read 20220705 data ===
股票最终数据:  (6044, 46)
=== Begin Read 20220706 data ===
股票OHLS数据:  (4814, 11)
股票涨跌停数据:  (6047, 4)
股票基本面数据:  (4814, 17)
股票资金流向:  (4713, 20)
=== End Read 20220706 data ===
股票最终数据:  (6047, 46)
=== Begin Read 20220707 data ===
股票OHLS数据:  (4815, 11)
股票涨跌停数据:  (6047, 4)
股票基本面数据:  (4815, 17)
股票资金流向:  (4714, 20)
=== End Read 20220707 data ===
股票最终数据:  (6047, 46)
=== Begin Read 20220708 data ===
股票OHLS数据:  (4818, 11)
股票涨跌停数据:  (6052, 4)
股票基本面数据:  (4818, 17)
股票资金流向:  (4717, 20)
=== End Read 20220708 data ===
股票最终数据:  (6052, 46)
=== Begin Read 20220711 data ===
股票OHLS数据:  (4817, 11)
股票涨跌停数据:  (6053, 4)
股票基本面数据:  (4817, 17)
股票资金流向:  (4716, 20)
=== End Read 20220711 data ===
股票最终数据:  (6053, 46)
=== Begin Read 20220712 data ===
股票OHLS数据:  (4817, 11)
股票涨跌停数据:  (6059, 4)
股票基本面数据:  (4817, 17)
股票资金流向:  (4715, 20)
=== End Read 20220712 data ===
股票最终数据:  (6059, 46)
=== Begin Read 20220713 data ===
股票OHLS数据:  (4818, 11)
股票涨跌停数据:  (6061, 4)
股票基本面数据:  (4818, 17)
股票资金流向:  (4715, 20)
=== End Read 20220713 data ===
股票最终数据:  (6061, 46)
=== Begin Read 20220714 data ===

股票OHLS数据:  (4822, 11)
股票涨跌停数据:  (6059, 4)
股票基本面数据:  (4822, 17)
股票资金流向:  (4719, 20)
=== End Read 20220714 data ===
股票最终数据:  (6059, 46)
=== Begin Read 20220715 data ===
股票OHLS数据:  (4826, 11)
股票涨跌停数据:  (6064, 4)
股票基本面数据:  (4826, 17)
股票资金流向:  (4723, 20)
=== End Read 20220715 data ===
股票最终数据:  (6064, 46)
=== Begin Read 20220718 data ===
股票OHLS数据:  (4829, 11)
股票涨跌停数据:  (6066, 4)
股票基本面数据:  (4829, 17)
股票资金流向:  (4725, 20)
=== End Read 20220718 data ===
股票最终数据:  (6066, 46)
=== Begin Read 20220719 data ===
股票OHLS数据:  (4828, 11)
股票涨跌停数据:  (6070, 4)
股票基本面数据:  (4828, 17)
股票资金流向:  (4724, 20)
=== End Read 20220719 data ===
股票最终数据:  (6070, 46)
=== Begin Read 20220720 data ===
股票OHLS数据:  (4828, 11)
股票涨跌停数据:  (6071, 4)
股票基本面数据:  (4828, 17)
股票资金流向:  (4724, 20)
=== End Read 20220720 data ===
股票最终数据:  (6071, 46)
=== Begin Read 20220721 data ===
股票OHLS数据:  (4828, 11)
股票涨跌停数据:  (6074, 4)
股票基本面数据:  (4828, 17)
股票资金流向:  (4724, 20)
=== End Read 20220721 data ===
股票最终数据:  (6074, 46)
=== Begin Read 20220722 data ===
股票OHLS数据:  (4831, 11)
股票涨跌停数据:  (6078, 4)
股票基本面数据:  (4831, 17)
股票资金流向:  (4726, 20)
=== End Read 20220722 data ===
股票最终数据:  (6078, 46)
=== Begin Read 20220725 data ===
股票OHLS数据:  (4828, 11)
股票涨跌停数据:  (6079, 4)
股票基本面数据:  (4828, 17)
股票资金流向:  (4724, 20)
=== End Read 20220725 data ===
股票最终数据:  (6079, 46)
=== Begin Read 20220726 data ===
股票OHLS数据:  (4832, 11)
股票涨跌停数据:  (6081, 4)
股票基本面数据:  (4832, 17)
股票资金流向:  (4728, 20)
=== End Read 20220726 data ===
股票最终数据:  (6081, 46)
=== Begin Read 20220727 data ===
股票OHLS数据:  (4833, 11)
股票涨跌停数据:  (6082, 4)
股票基本面数据:  (4833, 17)
股票资金流向:  (4729, 20)
=== End Read 20220727 data ===
股票最终数据:  (6082, 46)
=== Begin Read 20220728 data ===
股票OHLS数据:  (4834, 11)
股票涨跌停数据:  (6085, 4)
股票基本面数据:  (4834, 17)
股票资金流向:  (4730, 20)
=== End Read 20220728 data ===
股票最终数据:  (6085, 46)
=== Begin Read 20220729 data ===
股票OHLS数据:  (4836, 11)
股票涨跌停数据:  (6088, 4)
股票基本面数据:  (4836, 17)
股票资金流向:  (4732, 20)
=== End Read 20220729 data ===
股票最终数据:  (6088, 46)
=== Begin Read 20220801 data ===
股票OHLS数据:  (4839, 11)
股票涨跌停数据:  (6090, 4)
股票基本面数据:  (4839, 17)
股票资金流向:  (4734, 20)
=== End Read 20220801 data ===
股票最终数据:  (6090, 46)
=== Begin Read 20220802 data ===
股票OHLS数据:  (4843, 11)
股票涨跌停数据:  (6092, 4)
股票基本面数据:  (4843, 17)
股票资金流向:  (4738, 20)
=== End Read 20220802 data ===
股票最终数据:  (6092, 46)
=== Begin Read 20220803 data ===
股票OHLS数据:  (4844, 11)
股票涨跌停数据:  (6094, 4)
股票基本面数据:  (4844, 17)
股票资金流向:  (4739, 20)
=== End Read 20220803 data ===
股票最终数据:  (6094, 46)
=== Begin Read 20220804 data ===
股票OHLS数据:  (4845, 11)
股票涨跌停数据:  (6098, 4)
股票基本面数据:  (4845, 17)
股票资金流向:  (4740, 20)
=== End Read 20220804 data ===
股票最终数据:  (6098, 46)
=== Begin Read 20220805 data ===
股票OHLS数据:  (4849, 11)
股票涨跌停数据:  (6104, 4)
股票基本面数据:  (4849, 17)
股票资金流向:  (4744, 20)
=== End Read 20220805 data ===
股票最终数据:  (6104, 46)
=== Begin Read 20220808 data ===
股票OHLS数据:  (4854, 11)
股票涨跌停数据:  (6111, 4)
股票基本面数据:  (4854, 17)
股票资金流向:  (4748, 20)
=== End Read 20220808 data ===
股票最终数据:  (6111, 46)
=== Begin Read 20220809 data ===
股票OHLS数据:  (4855, 11)
股票涨跌停数据:  (6113, 4)
股票基本面数据:  (4855, 17)
股票资金流向:  (4749, 20)
=== End Read 20220809 data ===
股票最终数据:  (6113, 46)
=== Begin Read 20220810 data ===
股票OHLS数据:  (4855, 11)
股票涨跌停数据:  (6115, 4)
股票基本面数据:  (4855, 17)
股票资金流向:  (4749, 20)
=== End Read 20220810 data ===
股票最终数据:  (6115, 46)
=== Begin Read 20220811 data ===
股票OHLS数据:  (4855, 11)
股票涨跌停数据:  (6117, 4)
股票基本面数据:  (4855, 17)
股票资金流向:  (4749, 20)
=== End Read 20220811 data ===
股票最终数据:  (6117, 46)
=== Begin Read 20220812 data ===
股票OHLS数据:  (4858, 11)
股票涨跌停数据:  (6121, 4)
股票基本面数据:  (4858, 17)
股票资金流向:  (4752, 20)
=== End Read 20220812 data ===
股票最终数据:  (6121, 46)
=== Begin Read 20220815 data ===
股票OHLS数据:  (4856, 11)
股票涨跌停数据:  (6123, 4)
股票基本面数据:  (4856, 17)
股票资金流向:  (4750, 20)
=== End Read 20220815 data ===
股票最终数据:  (6123, 46)
=== Begin Read 20220816 data ===
股票OHLS数据:  (4862, 11)
股票涨跌停数据:  (6125, 4)
股票基本面数据:  (4862, 17)
股票资金流向:  (4756, 20)
=== End Read 20220816 data ===
股票最终数据:  (6125, 46)
=== Begin Read 20220817 data ===
股票OHLS数据:  (4863, 11)
股票涨跌停数据:  (6127, 4)
股票基本面数据:  (4863, 17)
股票资金流向:  (4757, 20)
=== End Read 20220817 data ===
股票最终数据:  (6127, 46)
=== Begin Read 20220818 data ===
股票OHLS数据:  (4870, 11)
股票涨跌停数据:  (6133, 4)
股票基本面数据:  (4870, 17)
股票资金流向:  (4764, 20)
=== End Read 20220818 data ===
股票最终数据:  (6133, 46)
=== Begin Read 20220819 data ===
股票OHLS数据:  (4873, 11)
股票涨跌停数据:  (6136, 4)
股票基本面数据:  (4873, 17)
股票资金流向:  (4767, 20)
=== End Read 20220819 data ===
股票最终数据:  (6136, 46)
=== Begin Read 20220822 data ===
股票OHLS数据:  (4874, 11)
股票涨跌停数据:  (6141, 4)
股票基本面数据:  (4874, 17)
股票资金流向:  (4767, 20)
=== End Read 20220822 data ===
股票最终数据:  (6141, 46)
=== Begin Read 20220823 data ===
股票OHLS数据:  (4875, 11)
股票涨跌停数据:  (6142, 4)
股票基本面数据:  (4875, 17)
股票资金流向:  (4768, 20)
=== End Read 20220823 data ===
股票最终数据:  (6142, 46)
=== Begin Read 20220824 data ===
股票OHLS数据:  (4875, 11)
股票涨跌停数据:  (6141, 4)
股票基本面数据:  (4875, 17)
股票资金流向:  (4768, 20)
=== End Read 20220824 data ===
股票最终数据:  (6141, 46)
=== Begin Read 20220825 data ===
股票OHLS数据:  (4879, 11)
股票涨跌停数据:  (6144, 4)
股票基本面数据:  (4879, 17)
股票资金流向:  (4772, 20)
=== End Read 20220825 data ===
股票最终数据:  (6144, 46)
=== Begin Read 20220826 data ===
股票OHLS数据:  (4881, 11)
股票涨跌停数据:  (6147, 4)
股票基本面数据:  (4881, 17)
股票资金流向:  (4774, 20)
=== End Read 20220826 data ===
股票最终数据:  (6147, 46)
=== Begin Read 20220829 data ===
股票OHLS数据:  (4885, 11)
股票涨跌停数据:  (6150, 4)
股票基本面数据:  (4885, 17)
股票资金流向:  (4778, 20)
=== End Read 20220829 data ===
股票最终数据:  (6150, 46)
=== Begin Read 20220830 data ===
股票OHLS数据:  (4885, 11)
股票涨跌停数据:  (6150, 4)
股票基本面数据:  (4885, 17)
股票资金流向:  (4778, 20)
=== End Read 20220830 data ===
股票最终数据:  (6150, 46)
=== Begin Read 20220831 data ===
股票OHLS数据:  (4891, 11)
股票涨跌停数据:  (6158, 4)
股票基本面数据:  (4891, 17)
股票资金流向:  (4784, 20)
=== End Read 20220831 data ===
股票最终数据:  (6158, 46)
=== Begin Read 20220901 data ===
股票OHLS数据:  (4891, 11)
股票涨跌停数据:  (6161, 4)
股票基本面数据:  (4891, 17)
股票资金流向:  (4782, 20)
=== End Read 20220901 data ===
股票最终数据:  (6161, 46)
=== Begin Read 20220902 data ===
股票OHLS数据:  (4897, 11)
股票涨跌停数据:  (6166, 4)
股票基本面数据:  (4898, 17)
股票资金流向:  (4787, 20)
=== End Read 20220902 data ===
股票最终数据:  (6166, 46)
=== Begin Read 20220905 data ===
股票OHLS数据:  (4899, 11)
股票涨跌停数据:  (6167, 4)
股票基本面数据:  (4899, 17)
股票资金流向:  (4788, 20)
=== End Read 20220905 data ===
股票最终数据:  (6167, 46)
=== Begin Read 20220906 data ===
股票OHLS数据:  (4898, 11)
股票涨跌停数据:  (6167, 4)
股票基本面数据:  (4898, 17)
股票资金流向:  (4787, 20)
=== End Read 20220906 data ===
股票最终数据:  (6167, 46)
=== Begin Read 20220907 data ===
股票OHLS数据:  (4898, 11)
股票涨跌停数据:  (6166, 4)
股票基本面数据:  (4898, 17)
股票资金流向:  (4787, 20)
=== End Read 20220907 data ===
股票最终数据:  (6166, 46)
=== Begin Read 20220908 data ===
股票OHLS数据:  (4902, 11)
股票涨跌停数据:  (6169, 4)
股票基本面数据:  (4902, 17)
股票资金流向:  (4791, 20)
=== End Read 20220908 data ===
股票最终数据:  (6169, 46)
=== Begin Read 20220909 data ===
股票OHLS数据:  (4907, 11)
股票涨跌停数据:  (6177, 4)
股票基本面数据:  (4907, 17)
股票资金流向:  (4796, 20)
=== End Read 20220909 data ===
股票最终数据:  (6177, 46)
=== Begin Read 20220913 data ===
股票OHLS数据:  (4907, 11)
股票涨跌停数据:  (6180, 4)
股票基本面数据:  (4907, 17)
股票资金流向:  (4796, 20)
=== End Read 20220913 data ===
股票最终数据:  (6180, 46)
=== Begin Read 20220914 data ===
股票OHLS数据:  (4908, 11)
股票涨跌停数据:  (6181, 4)
股票基本面数据:  (4908, 17)
股票资金流向:  (4797, 20)
=== End Read 20220914 data ===
股票最终数据:  (6181, 46)
=== Begin Read 20220915 data ===
股票OHLS数据:  (4906, 11)
股票涨跌停数据:  (6182, 4)
股票基本面数据:  (4906, 17)
股票资金流向:  (4795, 20)
=== End Read 20220915 data ===
股票最终数据:  (6182, 46)
=== Begin Read 20220916 data ===
股票OHLS数据:  (4907, 11)
股票涨跌停数据:  (6182, 4)
股票基本面数据:  (4907, 17)
股票资金流向:  (4796, 20)
=== End Read 20220916 data ===
股票最终数据:  (6182, 46)
=== Begin Read 20220919 data ===
股票OHLS数据:  (4912, 11)
股票涨跌停数据:  (6187, 4)
股票基本面数据:  (4912, 17)
股票资金流向:  (4801, 20)
=== End Read 20220919 data ===
股票最终数据:  (6187, 46)
=== Begin Read 20220920 data ===
股票OHLS数据:  (4914, 11)
股票涨跌停数据:  (6188, 4)
股票基本面数据:  (4914, 17)
股票资金流向:  (4803, 20)
=== End Read 20220920 data ===
股票最终数据:  (6188, 46)
=== Begin Read 20220921 data ===
股票OHLS数据:  (4920, 11)
股票涨跌停数据:  (6192, 4)
股票基本面数据:  (4920, 17)
股票资金流向:  (4809, 20)
=== End Read 20220921 data ===
股票最终数据:  (6192, 46)
=== Begin Read 20220922 data ===
股票OHLS数据:  (4919, 11)

股票涨跌停数据:  (6193, 4)
股票基本面数据:  (4919, 17)
股票资金流向:  (4808, 20)
=== End Read 20220922 data ===
股票最终数据:  (6193, 46)
=== Begin Read 20220923 data ===
股票OHLS数据:  (4922, 11)
股票涨跌停数据:  (6195, 4)
股票基本面数据:  (4922, 17)
股票资金流向:  (4810, 20)
=== End Read 20220923 data ===
股票最终数据:  (6195, 46)
=== Begin Read 20220926 data ===
股票OHLS数据:  (4926, 11)
股票涨跌停数据:  (6200, 4)
股票基本面数据:  (4926, 17)
股票资金流向:  (4814, 20)
=== End Read 20220926 data ===
股票最终数据:  (6200, 46)
=== Begin Read 20220927 data ===
股票OHLS数据:  (4930, 11)
股票涨跌停数据:  (6204, 4)
股票基本面数据:  (4930, 17)
股票资金流向:  (4816, 20)
=== End Read 20220927 data ===
股票最终数据:  (6204, 46)
=== Begin Read 20220928 data ===
股票OHLS数据:  (4934, 11)
股票涨跌停数据:  (6207, 4)
股票基本面数据:  (4934, 17)
股票资金流向:  (4819, 20)
=== End Read 20220928 data ===
股票最终数据:  (6207, 46)
=== Begin Read 20220929 data ===
股票OHLS数据:  (4935, 11)
股票涨跌停数据:  (6210, 4)
股票基本面数据:  (4935, 17)
股票资金流向:  (4820, 20)
=== End Read 20220929 data ===
股票最终数据:  (6210, 46)
=== Begin Read 20220930 data ===
股票OHLS数据:  (4936, 11)
股票涨跌停数据:  (6212, 4)
股票基本面数据:  (4936, 17)
股票资金流向:  (4821, 20)
=== End Read 20220930 data ===
股票最终数据:  (6212, 46)
=== Begin Read 20221010 data ===
股票OHLS数据:  (4940, 11)
股票涨跌停数据:  (6215, 4)
股票基本面数据:  (4940, 17)
股票资金流向:  (4824, 20)
=== End Read 20221010 data ===
股票最终数据:  (6215, 46)
=== Begin Read 20221011 data ===
股票OHLS数据:  (4941, 11)
股票涨跌停数据:  (6217, 4)
股票基本面数据:  (4941, 17)
股票资金流向:  (4825, 20)
=== End Read 20221011 data ===
股票最终数据:  (6217, 46)
=== Begin Read 20221012 data ===
股票OHLS数据:  (4943, 11)
股票涨跌停数据:  (6220, 4)
股票基本面数据:  (4943, 17)
股票资金流向:  (4827, 20)
=== End Read 20221012 data ===
股票最终数据:  (6220, 46)
=== Begin Read 20221013 data ===
股票OHLS数据:  (4945, 11)
股票涨跌停数据:  (6224, 4)
股票基本面数据:  (4945, 17)
股票资金流向:  (4828, 20)
=== End Read 20221013 data ===
股票最终数据:  (6224, 46)
=== Begin Read 20221014 data ===
股票OHLS数据:  (4948, 11)
股票涨跌停数据:  (6226, 4)
股票基本面数据:  (4948, 17)
股票资金流向:  (4830, 20)
=== End Read 20221014 data ===
股票最终数据:  (6226, 46)
=== Begin Read 20221017 data ===
股票OHLS数据:  (4945, 11)
股票涨跌停数据:  (6227, 4)
股票基本面数据:  (4945, 17)
股票资金流向:  (4827, 20)
=== End Read 20221017 data ===
股票最终数据:  (6227, 46)
=== Begin Read 20221018 data ===
股票OHLS数据:  (4948, 11)
股票涨跌停数据:  (6230, 4)
股票基本面数据:  (4948, 17)
股票资金流向:  (4829, 20)
=== End Read 20221018 data ===
股票最终数据:  (6230, 46)
=== Begin Read 20221019 data ===
股票OHLS数据:  (4954, 11)
股票涨跌停数据:  (6234, 4)
股票基本面数据:  (4954, 17)
股票资金流向:  (4835, 20)
=== End Read 20221019 data ===
股票最终数据:  (6234, 46)
=== Begin Read 20221020 data ===
股票OHLS数据:  (4954, 11)
股票涨跌停数据:  (6234, 4)
股票基本面数据:  (4954, 17)
股票资金流向:  (4835, 20)
=== End Read 20221020 data ===
股票最终数据:  (6234, 46)
=== Begin Read 20221021 data ===
股票OHLS数据:  (4955, 11)
股票涨跌停数据:  (6234, 4)
股票基本面数据:  (4955, 17)
股票资金流向:  (4836, 20)
=== End Read 20221021 data ===
股票最终数据:  (6234, 46)
=== Begin Read 20221024 data ===
股票OHLS数据:  (4955, 11)
股票涨跌停数据:  (6235, 4)
股票基本面数据:  (4955, 17)
股票资金流向:  (4836, 20)
=== End Read 20221024 data ===
股票最终数据:  (6235, 46)
=== Begin Read 20221025 data ===
股票OHLS数据:  (4956, 11)
股票涨跌停数据:  (6240, 4)
股票基本面数据:  (4956, 17)
股票资金流向:  (4837, 20)
=== End Read 20221025 data ===
股票最终数据:  (6240, 46)
=== Begin Read 20221026 data ===
股票OHLS数据:  (4958, 11)
股票涨跌停数据:  (6250, 4)
股票基本面数据:  (4958, 17)
股票资金流向:  (4839, 20)
=== End Read 20221026 data ===
股票最终数据:  (6250, 46)
=== Begin Read 20221027 data ===
股票OHLS数据:  (4960, 11)
股票涨跌停数据:  (6250, 4)
股票基本面数据:  (4960, 17)
股票资金流向:  (4840, 20)
=== End Read 20221027 data ===
股票最终数据:  (6250, 46)
=== Begin Read 20221028 data ===
股票OHLS数据:  (4964, 11)
股票涨跌停数据:  (6253, 4)
股票基本面数据:  (4964, 17)
股票资金流向:  (4843, 20)
=== End Read 20221028 data ===
股票最终数据:  (6253, 46)
=== Begin Read 20221031 data ===
股票OHLS数据:  (4966, 11)
股票涨跌停数据:  (6258, 4)
股票基本面数据:  (4965, 17)
股票资金流向:  (4844, 20)
=== End Read 20221031 data ===
股票最终数据:  (6258, 46)
=== Begin Read 20221101 data ===
股票OHLS数据:  (4969, 11)
股票涨跌停数据:  (6263, 4)
股票基本面数据:  (4969, 17)
股票资金流向:  (4847, 20)
=== End Read 20221101 data ===
股票最终数据:  (6263, 46)
=== Begin Read 20221102 data ===
股票OHLS数据:  (4968, 11)
股票涨跌停数据:  (6263, 4)
股票基本面数据:  (4968, 17)
股票资金流向:  (4846, 20)
=== End Read 20221102 data ===
股票最终数据:  (6263, 46)
=== Begin Read 20221103 data ===
股票OHLS数据:  (4969, 11)
股票涨跌停数据:  (6263, 4)
股票基本面数据:  (4969, 17)
股票资金流向:  (4847, 20)
=== End Read 20221103 data ===
股票最终数据:  (6263, 46)
=== Begin Read 20221104 data ===
股票OHLS数据:  (4971, 11)
股票涨跌停数据:  (6263, 4)
股票基本面数据:  (4971, 17)
股票资金流向:  (4849, 20)
=== End Read 20221104 data ===
股票最终数据:  (6263, 46)
=== Begin Read 20221107 data ===
股票OHLS数据:  (4974, 11)
股票涨跌停数据:  (6265, 4)
股票基本面数据:  (4974, 17)
股票资金流向:  (4852, 20)
=== End Read 20221107 data ===
股票最终数据:  (6265, 46)
=== Begin Read 20221108 data ===
股票OHLS数据:  (4973, 11)
股票涨跌停数据:  (6266, 4)
股票基本面数据:  (4973, 17)
股票资金流向:  (4851, 20)
=== End Read 20221108 data ===
股票最终数据:  (6266, 46)
=== Begin Read 20221109 data ===
股票OHLS数据:  (4975, 11)
股票涨跌停数据:  (6268, 4)
股票基本面数据:  (4975, 17)
股票资金流向:  (4855, 20)
=== End Read 20221109 data ===
股票最终数据:  (6268, 46)
=== Begin Read 20221110 data ===
股票OHLS数据:  (4979, 11)
股票涨跌停数据:  (6270, 4)
股票基本面数据:  (4979, 17)
股票资金流向:  (4856, 20)
=== End Read 20221110 data ===
股票最终数据:  (6270, 46)
=== Begin Read 20221111 data ===
股票OHLS数据:  (4982, 11)
股票涨跌停数据:  (6271, 4)
股票基本面数据:  (4982, 17)
股票资金流向:  (4858, 20)
=== End Read 20221111 data ===
股票最终数据:  (6271, 46)
=== Begin Read 20221114 data ===
股票OHLS数据:  (4981, 11)
股票涨跌停数据:  (6272, 4)
股票基本面数据:  (4981, 17)
股票资金流向:  (4857, 20)
=== End Read 20221114 data ===
股票最终数据:  (6272, 46)
=== Begin Read 20221115 data ===
股票OHLS数据:  (4981, 11)
股票涨跌停数据:  (6273, 4)
股票基本面数据:  (4981, 17)
股票资金流向:  (4857, 20)
=== End Read 20221115 data ===
股票最终数据:  (6273, 46)
=== Begin Read 20221116 data ===
股票OHLS数据:  (4984, 11)
股票涨跌停数据:  (6278, 4)
股票基本面数据:  (4984, 17)
股票资金流向:  (4860, 20)
=== End Read 20221116 data ===
股票最终数据:  (6278, 46)
=== Begin Read 20221117 data ===
股票OHLS数据:  (4984, 11)
股票涨跌停数据:  (6279, 4)
股票基本面数据:  (4984, 17)
股票资金流向:  (4859, 20)
=== End Read 20221117 data ===
股票最终数据:  (6279, 46)
=== Begin Read 20221118 data ===
股票OHLS数据:  (4988, 11)
股票涨跌停数据:  (6284, 4)
股票基本面数据:  (4988, 17)
股票资金流向:  (4861, 20)
=== End Read 20221118 data ===
股票最终数据:  (6284, 46)
=== Begin Read 20221121 data ===
股票OHLS数据:  (4990, 11)
股票涨跌停数据:  (6286, 4)
股票基本面数据:  (4990, 17)
股票资金流向:  (4863, 20)
=== End Read 20221121 data ===
股票最终数据:  (6286, 46)
=== Begin Read 20221122 data ===
股票OHLS数据:  (4994, 11)
股票涨跌停数据:  (6288, 4)
股票基本面数据:  (4994, 17)
股票资金流向:  (4867, 20)
=== End Read 20221122 data ===
股票最终数据:  (6288, 46)
=== Begin Read 20221123 data ===
股票OHLS数据:  (4995, 11)
股票涨跌停数据:  (6288, 4)
股票基本面数据:  (4995, 17)
股票资金流向:  (4868, 20)
=== End Read 20221123 data ===
股票最终数据:  (6288, 46)
=== Begin Read 20221124 data ===
股票OHLS数据:  (4998, 11)
股票涨跌停数据:  (6289, 4)
股票基本面数据:  (4998, 17)
股票资金流向:  (4870, 20)
=== End Read 20221124 data ===
股票最终数据:  (6289, 46)
=== Begin Read 20221125 data ===
股票OHLS数据:  (5000, 11)
股票涨跌停数据:  (6291, 4)
股票基本面数据:  (5000, 17)
股票资金流向:  (4871, 20)
=== End Read 20221125 data ===
股票最终数据:  (6291, 46)
=== Begin Read 20221128 data ===
股票OHLS数据:  (5002, 11)
股票涨跌停数据:  (6292, 4)
股票基本面数据:  (5002, 17)
股票资金流向:  (4872, 20)
=== End Read 20221128 data ===
股票最终数据:  (6292, 46)
=== Begin Read 20221129 data ===
股票OHLS数据:  (5005, 11)
股票涨跌停数据:  (6294, 4)
股票基本面数据:  (5005, 17)
股票资金流向:  (4874, 20)
=== End Read 20221129 data ===
股票最终数据:  (6294, 46)
=== Begin Read 20221130 data ===
股票OHLS数据:  (5006, 11)
股票涨跌停数据:  (6295, 4)
股票基本面数据:  (5006, 17)
股票资金流向:  (4875, 20)
=== End Read 20221130 data ===
股票最终数据:  (6295, 46)
=== Begin Read 20221201 data ===
股票OHLS数据:  (5008, 11)
股票涨跌停数据:  (6298, 4)
股票基本面数据:  (5008, 17)
股票资金流向:  (4876, 20)
=== End Read 20221201 data ===
股票最终数据:  (6298, 46)
=== Begin Read 20221202 data ===
股票OHLS数据:  (5009, 11)
股票涨跌停数据:  (6301, 4)
股票基本面数据:  (5009, 17)
股票资金流向:  (4876, 20)
=== End Read 20221202 data ===
股票最终数据:  (6301, 46)
=== Begin Read 20221205 data ===
股票OHLS数据:  (5007, 11)
股票涨跌停数据:  (6303, 4)
股票基本面数据:  (5007, 17)
股票资金流向:  (4874, 20)
=== End Read 20221205 data ===
股票最终数据:  (6303, 46)
=== Begin Read 20221206 data ===
股票OHLS数据:  (5008, 11)
股票涨跌停数据:  (6304, 4)
股票基本面数据:  (5008, 17)
股票资金流向:  (4874, 20)
=== End Read 20221206 data ===
股票最终数据:  (6304, 46)
=== Begin Read 20221207 data ===
股票OHLS数据:  (5010, 11)
股票涨跌停数据:  (6306, 4)

股票基本面数据:  (5010, 17)
股票资金流向:  (4874, 20)
=== End Read 20221207 data ===
股票最终数据:  (6306, 46)
=== Begin Read 20221208 data ===
股票OHLS数据:  (5014, 11)
股票涨跌停数据:  (6311, 4)
股票基本面数据:  (5014, 17)
股票资金流向:  (4877, 20)
=== End Read 20221208 data ===
股票最终数据:  (6311, 46)
=== Begin Read 20221209 data ===
股票OHLS数据:  (5016, 11)
股票涨跌停数据:  (6316, 4)
股票基本面数据:  (5016, 17)
股票资金流向:  (4877, 20)
=== End Read 20221209 data ===
股票最终数据:  (6316, 46)
=== Begin Read 20221212 data ===
股票OHLS数据:  (5022, 11)
股票涨跌停数据:  (6320, 4)
股票基本面数据:  (5022, 17)
股票资金流向:  (4882, 20)
=== End Read 20221212 data ===
股票最终数据:  (6320, 46)
=== Begin Read 20221213 data ===
股票OHLS数据:  (5023, 11)
股票涨跌停数据:  (6322, 4)
股票基本面数据:  (5023, 17)
股票资金流向:  (4882, 20)
=== End Read 20221213 data ===
股票最终数据:  (6322, 46)
=== Begin Read 20221214 data ===
股票OHLS数据:  (5024, 11)
股票涨跌停数据:  (6325, 4)
股票基本面数据:  (5024, 17)
股票资金流向:  (4881, 20)
=== End Read 20221214 data ===
股票最终数据:  (6325, 46)
=== Begin Read 20221215 data ===
股票OHLS数据:  (5028, 11)
股票涨跌停数据:  (6329, 4)
股票基本面数据:  (5028, 17)
股票资金流向:  (4883, 20)
=== End Read 20221215 data ===
股票最终数据:  (6329, 46)

In [29]:
a.year

2022

In [8]:
pd.date_range(start='20221101', end = '20221201')

DatetimeIndex(['2022-11-01', '2022-11-02', '2022-11-03', '2022-11-04',
               '2022-11-05', '2022-11-06', '2022-11-07', '2022-11-08',
               '2022-11-09', '2022-11-10', '2022-11-11', '2022-11-12',
               '2022-11-13', '2022-11-14', '2022-11-15', '2022-11-16',
               '2022-11-17', '2022-11-18', '2022-11-19', '2022-11-20',
               '2022-11-21', '2022-11-22', '2022-11-23', '2022-11-24',
               '2022-11-25', '2022-11-26', '2022-11-27', '2022-11-28',
               '2022-11-29', '2022-11-30', '2022-12-01'],
              dtype='datetime64[ns]', freq='D')

In [27]:
pd.date_range?

In [5]:
with timer("Read Data"):
    df_trade_money = get_price_money('20221201')

股票交易数据:  (5008, 11)
股票资金流向:  (4876, 20)
[Read Data] done in 3.53 s

In [6]:
df_trade_money.shape

(5008, 29)

In [8]:
save(df_trade_money, os.path.join(os.getcwd(), '../DataStore/20221201/df_trade_money.pkl'))

/Users/qingbin.zhuang/Personal/StockProject/Debug/../DataStore/20221201 not exists, create new folder ...

In [9]:
df_trade_money.columns

Index(['ts_code', 'trade_date', 'open', 'high', 'low', 'close', 'pre_close',
       'change', 'pct_chg', 'vol', 'amount', 'buy_sm_vol', 'buy_sm_amount',
       'sell_sm_vol', 'sell_sm_amount', 'buy_md_vol', 'buy_md_amount',
       'sell_md_vol', 'sell_md_amount', 'buy_lg_vol', 'buy_lg_amount',
       'sell_lg_vol', 'sell_lg_amount', 'buy_elg_vol', 'buy_elg_amount',
       'sell_elg_vol', 'sell_elg_amount', 'net_mf_vol', 'net_mf_amount'],
      dtype='object')

In [ ]:
df_trade_money

In [14]:
df_trade_money.sort_values('amount', ascending=False)[['ts_code', 'pct_chg', 'amount']].head(10)

        ts_code  pct_chg       amount
3135  600519.SH   1.9887  8480772.923
2220  300750.SZ   2.6623  8341109.691
189   000625.SZ   2.2305  8330247.561
339   000858.SZ   4.9280  7325021.108
1554  300059.SZ   2.8649  7084272.140
1082  002594.SZ   2.7512  6927128.718
1091  002603.SZ  -5.4343  6347245.186
2766  600050.SH   7.0295  5453223.212
3701  601888.SH   3.3016  4952023.694
3532  601012.SH   2.6868  4543057.814

In [23]:
df_trade_money[(not df_trade_money.ts_code.str.startswith('3')) && (not df_trade_money.ts_code.str.startswith('6'))]

SyntaxError: invalid syntax (2334402625.py, line 1)

In [60]:
# 同花顺概念和行业指数
df_industry = pro.ths_index()
print(df_industry.columns, df_industry.shape)
df_industry.head(2)

Index(['ts_code', 'name', 'count', 'exchange', 'list_date', 'type'], dtype='object') (1653, 6)

     ts_code  name  count exchange list_date type
0  864005.TI   区块链   25.0        A  20200102    N
1  864006.TI  固态电池    3.0        A  20200102    N

In [70]:
df_industry.sort_values('count').head(2)

        ts_code   name  count exchange list_date type
1300  877101.TI     烟草    1.0       HK  20150101    I
1025  861153.TI  海港与服务    1.0       US      None    I

In [63]:
df_industry['ts_code'].nunique()

1653

In [71]:
# 
df = pro.ths_daily(ts_code='877101.TI', 
                   start_date='20220907', end_date='20220907', fields='ts_code,trade_date,open,close,high,low,pct_change')

In [73]:
df

Empty DataFrame
Columns: [ts_code, trade_date, close, open, high, low, pct_change]
Index: []

In [74]:
# 
df = pro.ths_daily(start_date='20220907', end_date='20220907', fields='ts_code,trade_date,open,close,high,low,pct_change')

In [75]:
df.shape

(1467, 7)

In [66]:
df['ts_code'].nunique()

1054

In [33]:
start_date, end_date = '20220101', '20220907'
ts_code = '600096.SH'

In [38]:
df_price_all = pro.daily(trade_date=end_date)

In [40]:
df_price_all.head(2)

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20220907,12.42,12.42,12.28,12.33,12.50,-0.17,-1.3600,979812.81,1208329.759
1,000002.SZ,20220907,17.66,17.82,17.40,17.52,17.85,-0.33,-1.8487,883386.10,1550325.356

In [43]:
df_price_all.sort_values('amount', ascending=False).head(10)

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
2209,300750.SZ,20220907,451.49,476.49,450.00,473.92,455.20,18.72,4.1125,216777.12,1.009527e+07
1072,002594.SZ,20220907,272.00,285.05,270.60,282.70,272.94,9.76,3.5759,190873.17,5.345728e+06
3021,600438.SH,20220907,56.00,58.02,55.98,56.69,56.87,-0.18,-0.3165,919203.91,5.238977e+06
3079,600519.SH,20220907,1835.03,1837.66,1811.01,1818.01,1845.00,-26.99,-1.4629,28306.16,5.151537e+06
948,002466.SZ,20220907,109.00,110.88,108.26,109.51,110.77,-1.26,-1.1375,390896.42,4.274902e+06
3476,601012.SH,20220907,53.00,54.28,52.71,53.46,53.16,0.30,0.5643,713985.67,3.842027e+06
1749,300274.SZ,20220907,121.98,126.60,121.10,122.16,122.59,-0.43,-0.3508,274861.51,3.405456e+06
1502,300014.SZ,20220907,94.00,99.60,93.36,98.49,94.80,3.69,3.8924,318640.79,3.107963e+06
856,002371.SZ,20220907,295.98,316.60,295.01,315.00,290.00,25.00,8.6207,101340.40,3.105520e+06
568,002077.SZ,20220907,16.00,17.66,15.87,17.66,16.05,1.61,10.0312,1627182.29,2.819322e+06

In [27]:
# 日线行情 - 获取单个股票交易数据
# df = pro.daily(trade_date='20180810')
df_price = pro.daily(ts_code=ts_code, start_date=start_date, end_date=end_date)
print(df_price.columns, df_price.shape)

Index(['ts_code', 'trade_date', 'open', 'high', 'low', 'close', 'pre_close',
       'change', 'pct_chg', 'vol', 'amount'],
      dtype='object') (166, 11)

In [28]:
# 个股资金流向 - 获取单个股票交易数据
df_trade = pro.moneyflow(ts_code=ts_code, start_date=start_date, end_date=end_date)
print(df_trade.columns, df_trade.shape)

Index(['ts_code', 'trade_date', 'buy_sm_vol', 'buy_sm_amount', 'sell_sm_vol',
       'sell_sm_amount', 'buy_md_vol', 'buy_md_amount', 'sell_md_vol',
       'sell_md_amount', 'buy_lg_vol', 'buy_lg_amount', 'sell_lg_vol',
       'sell_lg_amount', 'buy_elg_vol', 'buy_elg_amount', 'sell_elg_vol',
       'sell_elg_amount', 'net_mf_vol', 'net_mf_amount'],
      dtype='object') (166, 20)

In [29]:
df = pd.merge(df_price, df_trade, how = 'outer', on = ['ts_code', 'trade_date'])

In [30]:
df.shape

(166, 29)

In [32]:
df[['trade_date', 'vol', 'amount', 'net_mf_vol', 'net_mf_amount']].head()

  trade_date        vol       amount  net_mf_vol  net_mf_amount
0   20220907  518811.74  1351711.454      -28218       -7217.54
1   20220906  906807.09  2375990.965      170965       44808.18
2   20220905  594687.23  1454065.589       62140       15432.26
3   20220902  650055.50  1624532.303     -143712      -35905.69
4   20220901  401049.07  1044564.477     -117133      -30434.12

In [17]:
df.tail()

,ts_code,trade_date,buy_sm_vol,buy_sm_amount,sell_sm_vol,sell_sm_amount,buy_md_vol,buy_md_amount,sell_md_vol,sell_md_amount,buy_lg_vol,buy_lg_amount,sell_lg_vol,sell_lg_amount,buy_elg_vol,buy_elg_amount,sell_elg_vol,sell_elg_amount,net_mf_vol,net_mf_amount
157,600096.SH,20220110,171057,31652.57,167801,31158.94,183072,33868.65,182960,33856.71,116421,21554.52,107504,19832.79,16106,2995.38,28390,5222.68,16216,3207.25
158,600096.SH,20220107,184676,35017.02,136438,25884.78,129571,24573.33,125081,23713.90,66781,12678.35,90180,17095.39,14098,2687.83,43427,8262.46,-77201,-14557.85
159,600096.SH,20220106,166838,32061.25,182223,35050.13,156900,30131.20,168811,32437.05,95499,18355.48,79616,15302.15,21228,4119.97,9814,1878.57,86931,16789.16
160,600096.SH,20220105,166863,31701.32,132610,25210.83,119623,22737.46,126584,24075.15,70808,13456.44,85560,16265.11,28658,5470.52,41198,7814.66,-93691,-17734.56
161,600096.SH,20220104,199176,38465.86,170836,33090.94,190236,36794.90,183913,35552.50,121345,23517.01,133501,25816.51,19431,3771.18,41938,8089.00,-11252,-2072.21

In [ ]:
# 每日涨跌停价格
#获取单日全部股票数据涨跌停价格
# df = pro.stk_limit(trade_date='20190625')

#获取单个股票数据
# df = pro.stk_limit(ts_code='002149.SZ', start_date='20190115', end_date='20190615')

In [34]:
df_most = pro.stk_limit(trade_date=end_date)

In [35]:
df_most.columns, df_most.shape

(Index(['trade_date', 'ts_code', 'up_limit', 'down_limit'], dtype='object'),
 (5800, 4))

In [36]:
df_most

     trade_date    ts_code  up_limit  down_limit
0      20220907  000001.SZ     13.75       11.25
1      20220907  000002.SZ     19.64       16.07
2      20220907  000004.SZ      9.87        8.93
3      20220907  000005.SZ      1.96        1.78
4      20220907  000006.SZ      4.92        4.02
...         ...        ...       ...         ...
5795   20220907  688295.SH     51.96       34.64
5796   20220907  688296.SH     27.06       18.04
5797   20220907  688297.SH     58.50       39.00
5798   20220907  688298.SH    107.03       71.35
5799   20220907  688299.SH     21.86       14.58

[5800 rows x 4 columns]